<div id="<%= dom_id inventory %>">
    <td>
        <%= image_tag "#{inventory.photo_link}", size: '75x75' %>
      </td>
      <td>
        <%= time_ago_in_words(inventory.created_at) %>

      </td> 
      <td>
        <%= inventory.active %>
        <% if inventory.active == "NOT-LISTED" %> 
          <%= link_to "Amazon",  @amazon_link + inventory.upc, target: "_blank", class: "btn btn-primary" %>
          <% frame_id = dom_id(inventory, "sent_turbo_frame") %>
          <%= turbo_frame_tag frame_id do %>

          <% end %>
        <% elsif inventory.active == "ACTIVE"%> 
        Amz qty: <%= inventory.amz_qty %>
        <% end %>
  
      </td>  
    <td>
        <%= inventory.brand %>

      </td>      <td>
        <%= inventory.description    %>
      </td>

      <td>
        <%= inventory.sku %>
      </td>

      <td>
        <%= inventory.asin %>
      </td>
      <td>
        <%= inventory.upc %>
      </td>
      <td>
        <%= inventory.marketplace %>
      </td>
      <td>
        <%= inventory.location.room %>-<%= inventory.box.number %>
      </td>
      <td>
        <%= inventory.qty %>
      </td>
      <td>
        <%= inventory.published %>
      </td>
      <td>
        <%= button_to "Delete", inventory , method: :delete, class:"btn btn-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>
      </td>
    </div>