<div id="<%= dom_id inventory %>">
    <td>
        <%= image_tag "#{inventory.photo_link}", size: '75x75' %>
      </td>
      <td>
        <%= time_ago_in_words(inventory.created_at) %>

      </td> 
      <td>
        <%= inventory.active %>
        <% if inventory.active == "NOT-LISTED" %> 
          <% frame_id = dom_id(inventory, "send_turbo_frame") %>
          <%= link_to "Amazon",  @amazon_link + inventory.upc, target: "_blank", class: "btn btn-primary" %>
          <%= turbo_frame_tag frame_id  do %>
            <%= form_with(model: inventory, data: { turbo_frame: frame_id }) do |form| %>
              <%= form.check_box :sent, {onchange: "this.form.requestSubmit()"} %>
              <%= form.label :sent, class: "form-check-label" %>
            <% end %>
          <% end %>


        <% elsif inventory.active == "ACTIVE"%> 
        Amz qty: <%= inventory.amz_qty %>
        <% end %>
  
      </td>  
    <td>
        <%= inventory.brand %>

      </td>      <td>
        <%= inventory.description    %>
      </td>

      <td>
        <%= inventory.sku %>
      </td>

      <td>
        <% if !inventory.asin.nil? %>
          <%= link_to inventory.asin, @amazon_listing + inventory.asin, target: :_blank %>
        <% end %>
      </td>
      <td>
        <%= inventory.upc %>
      </td>
      <td>
        <%= inventory.marketplace %>
      </td>
      <td>
        <%= link_to "#{inventory.location.room}-#{inventory.box.box_number}", location_box_path(inventory.location, inventory.box) %>
      </td>
      <td>
        <% frame_id = dom_id(inventory, "qty_turbo_frame") %>
        <%= form_with(model: inventory, class: "contents", data: { turbo_frame: frame_id }) do |form| %>
          
          <%= turbo_frame_tag frame_id, class:"inline-edit"  do %>
            <%= link_to inventory.qty, edit_inventory_path(inventory) %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= inventory.published %>
      </td>
      <td>
        <%= button_to "Delete", inventory , method: :delete, class:"btn btn-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>
      </td>
    </div>