

<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, autocomplete: "name", class: "form-control" %>
  </div>
  </div>

   <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
    <%= form.label :hourly_rate, class: "form-label" %>
    <%= form.text_field :hourly_rate, autocomplete: "hourly_rate", class: "form-control" %>
  </div>
  </div>

   <div class="d-flex flex-row align-items-center mb-4">
    <div class="form-outline flex-fill mb-0">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, autocomplete: "email", class: "form-control" %>
  </div>
  </div>

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <%= form.submit class: "btn btn-primary btn-lg mt-4" %>
  </div>
<% end %>