<div id="<%= dom_id inventory %>">
    <td>
        <%= image_tag "#{inventory.photo_link}", size: '75x75' %>
      </td>
    <td>
        <%= inventory.brand %>

      </td>      <td>
        <%= inventory.description    %>
      </td>

      <td>
        <%= inventory.sku %>
      </td>

      <td>
        <% if !inventory.asin.nil? %>
          <%= link_to inventory.asin, @amazon_listing + inventory.asin, target: :_blank %>
        <% end %>
      </td>
      <td>
        <%= inventory.upc %>
      </td>
      <td>
        <%= inventory.marketplace %>
      </td>
      <td>
        <%= inventory.qty %>
      </td>
      <td>
        <%= button_to "Delete", location_box_inventory_path(@location, @box, inventory), method: :delete, class:"btn btn-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>

      </td>
    </div>