<div class="container">
    <h1>Box <%= @box.box_number %> in the <%= @box.location.room %>  </h1>
    <%= link_to location_box_path(@location, @box, format: "csv"), class: "btn btn-primary mb-3" do %>
      <i class="fa-regular fa-circle-down"></i> Download Excel
    <% end %>
    <%= link_to location_box_path(@location, @box, format: "pdf"), class: "btn btn-primary mb-3" do %>
      <i class="fa-regular fa-circle-down"></i> Download Asin Tags
    <% end %>
    <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="mb-2">
          <strong>Box #: </strong>
          <%= @box.box_number %>
        </div>
                <div class="mb-2">
          <strong>Location: </strong>
          <%= @box.location.room %>
        </div>
                <%= render @box %>
    </div>
    <%= link_to "Add Inventory", new_location_box_inventory_path(@location, @box), class: "btn btn-primary" %>
    
    <div>
      <%= link_to "Edit this box", edit_location_box_path(@location, @box) %> |
      <%= link_to "Back to boxes", location_path(@location) %>
    </div>

    <%= render 'inventory_table' %>
</div>