<div id="<%= dom_id contact %>">
<td>
      <%= contact.name %>
  </td>
<td>
      <%= contact.company %>
  </td>
<td>
      <%= contact.address %>
  </td>
<td>
      <%= contact.phone %>
  </td>
<td>
      <%= contact.notes %>
  </td>
<td>
      <%= contact.email %>
  </td>
</div>