<div id="<%= dom_id expense %>">
<td>
      <%= expense.amount %>
  </td>
<td>
      <%= expense.description %>
  </td>
<td>
      <%= expense.employee.name %>
  </td>
<td>
      <%= expense.expense_type %>
  </td>
  <td>
    <%= expense.status %>
</td>
</div>