<div id="<%= dom_id shipment %>">
  <tr>
    <td> <%= shipment.shipment_number %></td>
    <td><%= shipment.updated_at %></td>
    <td><%= shipment.description %></td>
    <td><%= shipment.shipper %></td>
    <td><%= shipment.tracking %></td>
    <td><%= shipment.delvery_estmate %></td>
    <td><%= shipment.status %></td>
    <td> <%= link_to "Show this shipment", shipment %></td>
  </tr>
</div>
